body {
	max-width: 45rem;
	margin: 0 auto;
	background-color: #c2b101;
}

.masthead {
    background-image: url("../img/masthead-image.jpg");
    background-repeat: no-repeat;
    background-size: 100%, auto;
}

.tagline {
	text-align: center;
	padding: 50px 0;
	font-size: 30px;
	color: #efc982;
	font-family: 'Rye', cursive;
	margin: 0;
}

.main-content, button {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: #3b2114;
	margin: 50px auto;
}

input {
	width: 80%;
	margin: 0 auto;
	border-radius: 5px;
	border-color: #3b2114;
	background-color: #fec484;
}

button {
	border-color: #3b2114;
	border-radius: 5px;
	margin: 20px auto;
	width: 80%;
	background-color: #b78155;
}

footer {
    padding: 20px;
    background-color: #3b2114;
    text-align: center;
    height: auto;
}

.icofont-linkedin, .icofont-facebook, .icofont-facebook-messenger, .icofont-instagram {
    color: #c2b101;
    font-size: 1em;
    padding: 10px;
    margin: 60px 0; 
}

a {
	text-decoration: none;
}

ol {
	text-align: left;
	text-decoration: underline;
}

@media (min-width: 35rem) {

	.tagline {
		font-size: 60px; 
		padding: 150px 0 150px 0;
	}

	.main-content {
		font-size: 2em;
	}

	.icofont-linkedin, .icofont-facebook, .icofont-facebook-messenger, .icofont-instagram {
    font-size: 3em;
    padding: 10px;
    margin: 60px 20px 0px 20px; 
	}
}